body{
    margin: 0;
}
.jersey{
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 72px;
  }
span{
    color: darkorange;
}
.half-wid{
    line-height: 5px;
    letter-spacing: 2px;
    width: 50%;
    margin: 80px 0px 50px 100px;
    padding-left: 2%;
}
.half-wid p{
    text-align: justify;
    display: block;
    line-height: normal;
    font-size: 28px;
    letter-spacing: 0px;
}
.half-wid img{
    height: 500px;
    width: 350px;
    margin-left: 50px;
}
.sec1{
    display: flex;
    margin-bottom: 80px;
}
.btn{
    background-image: linear-gradient(orange,red);
    border-radius: 25px;
    border: none;
    font-size: 14px;
    font-weight: bolder;
    padding: 15px 25px;
    color: aliceblue;
}
#para{
    margin-right: 80px;
}
#photo1 img{
    margin-left: 80px;
    height: 100%;
}
.ex{
    margin-left: 0px;
}
#bgase{
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.menu{
    height: 400px;
    width: 325px;
    text-align: left;
    border-radius: 20px;
    box-shadow: 10px 10px 60px gray;
    margin-left: 100px;
    padding-left: 25px;
}
.menu_item{
    height: 200px;
    width: 300px;
    border-radius: 25px;
    margin-top: 10px;
}
#menucard{
    display: flex;
    margin-left: -80px;
    justify-content: center;
    margin-bottom: 80px;

}
#heading{
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 50px;
}
#heading p{
    font-size: 24px;
    padding: 0px 180px;
    font-weight: normal;
    margin: auto;
}
#reach{
    border-radius: 25px;
    box-shadow: 10px 10px 50px grey;
    width: 82.5%;
    height: 200px;
    justify-content: center;
    display: flex;
    margin: auto;
}
.rich{
    text-align: center;
    height: 100px;
    font-size: 40px;
    margin: 30px 120px;
    line-height: 0px;
}
.rich p{
    font-size: 24px;
}
#foot{
    height: 250px;
    margin-top: 80px;
    text-align: center;
    background-color: grey;
}
#footed{
    padding-top: 80px;
}